<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    {{with .Address}}
    <h1>Jalan: {{.Jalan}}</h1>
    <h1>Dusun: {{.Dusun}}</h1>
    {{else}}
    <h1>Address Not Found</h1>
    {{end}}
    h1
</body>
</html>