<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
    {{range $i, $value := .Hobbies}}
    <h1>{{$i}} - {{$value}}</h1>
    {{else}}
    <h1>Hobbie not found</h1>
    {{end}}
</body>
</html>